.message {
    display: flex;
    flex-direction: column;
    margin: 10px;
    cursor: pointer;
    user-select: none;

      .replyMessage{
        display: flex;
        height: 50px;
        flex-direction: column;
        background-color: rgba(74, 236, 96, 0.7);
        border-radius: 5px;
        .replyMessageText{
          font-weight: 600;

          margin: 1px 0 1px 1px;
          width: 100%;
          height: 70%;
        }
        .author{
          font-size: 14px;
          margin: 0;
        }
      }

      .messageText {
        max-width: 60%;
        padding: 10px;
        border-radius: 10px;
      }

      .timestamp {
        font-size: 0.8em;
        color: #888;
        margin-top: 5px;
      }
  }

  .mine {
    align-items: flex-end;
  }

  .theirs {
    align-items: flex-start;
  }

  
  .mine .messageText {
    color: white;
    background-color: #6E00FF; // Цвет фона для сообщений пользователя
  }
  
  .theirs .messageText {
    color: black;
    background-color: #E7E7E7; // Цвет фона для чужих сообщений
  }
  
  

  

  
