.card{
    display: flex;
    border-bottom: 1px solid gray;
    align-items: center;
    .avatar{
        width: 30px;
        height: 30px;
    }
    .content{
        display: flex;
        flex-direction: column;
        .info{
            display: flex;
            justify-content: space-between;
        }
        .text{
            display: flex;
        }
    }
}