.card{
    display: flex;
    border-bottom: 1px solid gray;
    align-items: center;
    width: 100%;
    .avatar{
        width: 30px;
        height: 30px;
    }
    .content{
        display: flex;
        flex-direction: column;
        width: 100%;
        .info{
            height: 46px;
            margin-top: 10px;
            h3{
                margin-left: 15px;
            }
        }
        .message{
            display: flex;
            justify-content: space-between;

            .date{
                margin-right: 15px;
            }
            .text{
                transform: translate(30px, -60%);
                font-size: 17px;
            }
        }
    }
}